body {
    background-color: cadetblue;
}

span {
    font-family: sans-serif;
}

.container {
    display: block;
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
}

/* menu */

.menu {
    display: inline-block;
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: 1rem;
}

.menu {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.menu ul {
    padding-right: 1rem;
    float: right;
}

.menu ul > li {
    display: inline-block;
    list-style-type: none;
}

.menu ul > li:hover {
    cursor: pointer;
    font-weight: 700;
    color: burlywood;
    text-decoration: underline;
}